<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @puzzle.title %>
</p>

<p>
  <b>Descr:</b>
  <%= @puzzle.descr %>
</p>

<p>
  <b>Approved:</b>
  <%= @puzzle.approved %>
</p>


<%= link_to 'Edit', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Back', puzzles_path %>
